
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */
  --c-brand: #158565;
  --c-brand-light: #158565;
}
.nav-bar-title .logo {
  height: 2rem;
}

.theme > .nav-bar > .nav > .nav-links > .item:last-child {
  display: none;
}
.nav-bar-title {
  font-size: 0 !important;
}
.content img {
  margin: 0 auto;
}
.VPImage.logo{
  height: 35px;
}
.medium-zoom-image {
  z-index: 21;
}
.medium-zoom--opened .medium-zoom-overlay{
  z-index: 20;
}
.sidebar
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-links
  > .sidebar-link
  > .sidebar-link-item {
  display: block;
  padding: 0.3rem 1.5rem 0.3rem 5rem;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: 400;
}
.home .home-content {
  max-width: 100%;
  padding: 0;
}